flow.json
[
    {
        "id": "eff18884ebcb89e8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f88d049bc127f8e2",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e93e6dce2ef7f39a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a00a146e07fa7780",
        "type": "ui_group",
        "name": "RAW VALUE",
        "tab": "e93e6dce2ef7f39a",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d91bb6614d155e89",
        "type": "ui_group",
        "name": "THRESHOLD AREA",
        "tab": "e93e6dce2ef7f39a",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f735eb07a21de2f9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b81c76e2c152ec94",
        "type": "modbus-client",
        "name": "modbus-serial-config",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "COM11",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 10,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "6a37e62b5b015ef0",
        "type": "modbus-client",
        "name": "Arduino Modbus RTU",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "10",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "10",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "10000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "6544696b66e807e5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb17eab85ffa8b9b",
        "type": "ui_group",
        "name": "Solar Powered EV Charging Station",
        "tab": "6544696b66e807e5",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9385a9a8e2c5aa17",
        "type": "ui_tab",
        "name": "Energy Management System",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "34a3bed1af3898c1",
        "type": "ui_group",
        "name": "Energy Management System",
        "tab": "9385a9a8e2c5aa17",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a4c9c7acb43f678",
        "type": "ui_tab",
        "name": "EV Session Info",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "20c250c1a29aea5e",
        "type": "ui_tab",
        "name": "EV Charging Status",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "74530d0df85e9329",
        "type": "ui_group",
        "name": "EV Charging Status",
        "tab": "20c250c1a29aea5e",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9201770178212ed",
        "type": "ui_group",
        "name": "DEMONSTRATION PURPOSES",
        "tab": "20c250c1a29aea5e",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": true,
        "className": ""
    },
    {
        "id": "8cfbde4735bd957f",
        "type": "ui_spacer",
        "z": "f88d049bc127f8e2",
        "name": "spacer",
        "group": "34a3bed1af3898c1",
        "order": 7,
        "width": "7",
        "height": "2"
    },
    {
        "id": "c60e841fa3346b58",
        "type": "ui_spacer",
        "z": "eff18884ebcb89e8",
        "name": "spacer",
        "group": "74530d0df85e9329",
        "order": 9,
        "width": "20",
        "height": "1"
    },
    {
        "id": "ce461c70635b860f",
        "type": "ui_spacer",
        "z": "eff18884ebcb89e8",
        "name": "spacer",
        "group": "74530d0df85e9329",
        "order": 1,
        "width": "20",
        "height": "1"
    },
    {
        "id": "35edaf93aee9f28f",
        "type": "ui_spacer",
        "z": "eff18884ebcb89e8",
        "name": "spacer",
        "group": "74530d0df85e9329",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "7163c36d30bfb032",
        "type": "global-config",
        "env": []
    },
    {
        "id": "e862ba410966763b",
        "type": "auto_layout_config",
        "name": "AutoLayout",
        "algorithm": "dagre_lr",
        "settings": "{\"dagre_lr\":{\"rankdir\":\"LR\",\"marginx\":20,\"marginy\":20,\"nodesep\":30,\"ranksep\":50},\"dagre_longest_path\":{\"rankdir\":\"LR\",\"marginx\":2,\"marginy\":2,\"ranker\":\"longest-path\",\"nodesep\":2,\"ranksep\":2},\"elkjs_mr_tree\":{\"algorithm\":\"mrtree\",\"childAreaHeight\":4500,\"childAreaWidth\":4500,\"org.eclipse.elk.direction\":\"RIGHT\"},\"elkjs_layered_upwards\":{\"algorithm\":\"org.eclipse.elk.layered\",\"elk.direction\":\"UP\",\"cycleBreaking.strategy\":\"INTERACTIVE\",\"layering.strategy\":\"INTERACTIVE\",\"crossingMinimization.semiInteractive\":true,\"separateConnectedComponents\":true,\"nodePlacement.strategy\":\"NETWORK_SIMPLEX\",\"spacing.nodeNode\":70,\"spacing.nodeNodeBetweenLayers\":25,\"spacing.edgeNode\":25,\"spacing.edgeNodeBetweenLayers\":20,\"spacing.edgeEdge\":20,\"spacing.edgeEdgeBetweenLayers\":15,\"elk.hierarchyHandling\":\"INCLUDE_CHILDREN\",\"elk.layered.spacing.edgeNodeBetweenLayers\":40,\"elk.layered.nodePlacement.bk.fixedAlignment\":\"BALANCED\",\"layering.layerConstraint\":\"FIRST\"},\"elkjs_layered_downwards\":{\"algorithm\":\"org.eclipse.elk.layered\",\"elk.direction\":\"DOWN\",\"cycleBreaking.strategy\":\"INTERACTIVE\",\"layering.strategy\":\"INTERACTIVE\",\"crossingMinimization.semiInteractive\":true,\"separateConnectedComponents\":true,\"nodePlacement.strategy\":\"NETWORK_SIMPLEX\",\"spacing.nodeNode\":70,\"spacing.nodeNodeBetweenLayers\":25,\"spacing.edgeNode\":25,\"spacing.edgeNodeBetweenLayers\":20,\"spacing.edgeEdge\":20,\"spacing.edgeEdgeBetweenLayers\":15},\"elkjs_box\":{\"algorithm\":\"org.eclipse.elk.box\",\"childAreaHeight\":3000,\"childAreaWidth\":3000},\"pull_request_2267\":{}}"
    },
    {
        "id": "45e620cf0681733e",
        "type": "ui_button",
        "z": "eff18884ebcb89e8",
        "name": "",
        "group": "74530d0df85e9329",
        "order": 7,
        "width": "8",
        "height": "1",
        "passthru": false,
        "label": "Start Charging",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "START",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "c3b6da8657e99b9d"
            ]
        ]
    },
    {
        "id": "17278014d41035bc",
        "type": "ui_button",
        "z": "eff18884ebcb89e8",
        "name": "",
        "group": "74530d0df85e9329",
        "order": 8,
        "width": "8",
        "height": "1",
        "passthru": false,
        "label": "Stop Charging",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "STOP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "c3b6da8657e99b9d"
            ]
        ]
    },
    {
        "id": "545c54db0fa7ad21",
        "type": "ui_text",
        "z": "eff18884ebcb89e8",
        "group": "74530d0df85e9329",
        "order": 4,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Charging Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "55eb8c09d759e7ed",
        "type": "ui_gauge",
        "z": "eff18884ebcb89e8",
        "name": "",
        "group": "74530d0df85e9329",
        "order": 3,
        "width": "10",
        "height": "5",
        "gtype": "wave",
        "title": "Battery Level (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#04ff00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "5d75aa2ed037cc85",
        "type": "inject",
        "z": "eff18884ebcb89e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "TICK",
        "payloadType": "str",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "c3b6da8657e99b9d"
            ]
        ]
    },
    {
        "id": "c3b6da8657e99b9d",
        "type": "function",
        "z": "eff18884ebcb89e8",
        "name": "function 3",
        "func": "let battery = flow.get(\"battery\") || 0;\nlet charging = flow.get(\"charging\") || false;\n\nlet cmd = msg.payload.toString().trim().toUpperCase();\n\n// Handle input logic\nif (cmd === \"START\") charging = true;\nelse if (cmd === \"STOP\") charging = false;\nelse if (cmd === \"RESET\") { battery = 0; charging = false; }\nelse if (cmd === \"85\") { battery = 85; charging = false; }\nelse if (!isNaN(msg.payload)) battery = Number(msg.payload);\nelse if (cmd === \"TICK\" && charging) battery += 5;\n\n// Safety clamps\nif (battery >= 100) { battery = 100; charging = false; }\nif (battery < 0) battery = 0;\n\n// Determine state strings\nlet ledPayload = \"STOPPED\"; // Default\nlet statusText = \"Not Charging\";\n\nif (battery >= 100) {\n    ledPayload = \"FINISHED\";\n    statusText = \"Fully Charged\";\n} else if (charging) {\n    ledPayload = \"CHARGING\";\n    statusText = \"Charging\";\n}\n\n// Save state\nflow.set(\"battery\", battery);\nflow.set(\"charging\", charging);\n\n// Return output\nreturn [\n    { payload: battery },    // 1. Gauge\n    { payload: statusText }, // 2. Text label\n    { payload: ledPayload }  // 3. LED\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 380,
        "wires": [
            [
                "55eb8c09d759e7ed"
            ],
            [
                "545c54db0fa7ad21"
            ],
            [
                "ebb655e7f2fb0abc"
            ]
        ]
    },
    {
        "id": "f3c95e11e7344765",
        "type": "ui_button",
        "z": "eff18884ebcb89e8",
        "name": "",
        "group": "c9201770178212ed",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Battery ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "RESET",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "c3b6da8657e99b9d"
            ]
        ]
    },
    {
        "id": "4f40537b6097e26e",
        "type": "ui_button",
        "z": "eff18884ebcb89e8",
        "name": "",
        "group": "c9201770178212ed",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "85%",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "85",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 500,
        "wires": [
            [
                "c3b6da8657e99b9d"
            ]
        ]
    },
    {
        "id": "ebb655e7f2fb0abc",
        "type": "ui_led",
        "z": "eff18884ebcb89e8",
        "order": 5,
        "group": "74530d0df85e9329",
        "width": "8",
        "height": "2",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#00d100",
                "value": "CHARGING",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "STOPPED",
                "valueType": "str"
            },
            {
                "color": "#ffffff",
                "value": "FINISHED",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "7cad6598dd97ee71",
        "type": "ui_text",
        "z": "f88d049bc127f8e2",
        "group": "34a3bed1af3898c1",
        "order": 5,
        "width": "9",
        "height": "1",
        "name": "",
        "label": "Amount of EV Charged",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "5cef72301406dd18",
        "type": "ui_text",
        "z": "f88d049bc127f8e2",
        "group": "34a3bed1af3898c1",
        "order": 2,
        "width": "9",
        "height": "1",
        "name": "",
        "label": "Solar Energy (kWh)",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 240,
        "wires": []
    },
    {
        "id": "31ccc34d62cdaf36",
        "type": "ui_text",
        "z": "f88d049bc127f8e2",
        "group": "34a3bed1af3898c1",
        "order": 3,
        "width": "9",
        "height": "1",
        "name": "",
        "label": "BESS (kWh)",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 300,
        "wires": []
    },
    {
        "id": "daa926c20280e687",
        "type": "ui_text",
        "z": "f88d049bc127f8e2",
        "group": "34a3bed1af3898c1",
        "order": 4,
        "width": "9",
        "height": "1",
        "name": "",
        "label": "Power Grid (kWh)",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "fa2485a11b5a78c9",
        "type": "ui_led",
        "z": "f88d049bc127f8e2",
        "order": 9,
        "group": "34a3bed1af3898c1",
        "width": "7",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00e600",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1070,
        "y": 120,
        "wires": []
    },
    {
        "id": "e6089f8bfef6fe97",
        "type": "ui_led",
        "z": "f88d049bc127f8e2",
        "order": 11,
        "group": "34a3bed1af3898c1",
        "width": "7",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00e600",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1070,
        "y": 200,
        "wires": []
    },
    {
        "id": "d8fe86d752ce3fad",
        "type": "ui_led",
        "z": "f88d049bc127f8e2",
        "order": 13,
        "group": "34a3bed1af3898c1",
        "width": "7",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00e600",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1070,
        "y": 280,
        "wires": []
    },
    {
        "id": "15c9212c5722c497",
        "type": "ui_button",
        "z": "f88d049bc127f8e2",
        "name": "",
        "group": "34a3bed1af3898c1",
        "order": 8,
        "width": "7",
        "height": "1",
        "passthru": false,
        "label": "SOLAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "SOLAR",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 680,
        "y": 120,
        "wires": [
            [
                "e090293ca55f8eb1"
            ]
        ]
    },
    {
        "id": "7b5a292e78c2d3c0",
        "type": "ui_button",
        "z": "f88d049bc127f8e2",
        "name": "",
        "group": "34a3bed1af3898c1",
        "order": 10,
        "width": "7",
        "height": "1",
        "passthru": false,
        "label": "BESS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "BESS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 200,
        "wires": [
            [
                "e090293ca55f8eb1"
            ]
        ]
    },
    {
        "id": "bd341ee0c72d0de0",
        "type": "ui_button",
        "z": "f88d049bc127f8e2",
        "name": "",
        "group": "34a3bed1af3898c1",
        "order": 12,
        "width": "7",
        "height": "1",
        "passthru": false,
        "label": "POWER GRID",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "POWER GRID",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 700,
        "y": 280,
        "wires": [
            [
                "e090293ca55f8eb1"
            ]
        ]
    },
    {
        "id": "e090293ca55f8eb1",
        "type": "function",
        "z": "f88d049bc127f8e2",
        "name": "function 1",
        "func": "let solar = false;\nlet bess = false;\nlet grid = false;\n\n// check which button was pressed\nif (msg.payload === \"SOLAR\") {\n    solar = true;\n} else if (msg.payload === \"BESS\") {\n    bess = true;\n} else if (msg.payload === \"POWER GRID\") {\n    grid = true;\n}\n\n// create 3 outputs (one for each LED)\nreturn [\n    { payload: solar, color: solar ? \"green\" : \"white\" },\n    { payload: bess, color: bess ? \"green\" : \"white\" },\n    { payload: grid, color: grid ? \"green\" : \"white\" }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 200,
        "wires": [
            [
                "fa2485a11b5a78c9"
            ],
            [
                "e6089f8bfef6fe97"
            ],
            [
                "d8fe86d752ce3fad"
            ]
        ]
    },
    {
        "id": "671fc48e9277e625",
        "type": "ui_text_input",
        "z": "f88d049bc127f8e2",
        "name": "",
        "label": "EMS",
        "tooltip": "",
        "group": "34a3bed1af3898c1",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 690,
        "y": 380,
        "wires": [
            [
                "b42c89791523edd4",
                "c45395a67b7d581e"
            ]
        ]
    },
    {
        "id": "b42c89791523edd4",
        "type": "function",
        "z": "f88d049bc127f8e2",
        "name": "function 5",
        "func": "var emsValue = msg.payload;\n\n// Initialize all outputs to false (OFF)\nvar solar = { payload: false };\nvar bess = { payload: false };\nvar grid = { payload: false };\n\n// Priority Logic: One at a time\nif (emsValue >= 7) {\n    solar.payload = true;\n}\nelse if (emsValue >= 4) {\n    bess.payload = true;\n}\nelse if (emsValue >= 0) {\n    grid.payload = true;\n}\n\n// Return the messages to the 3 output ports\nreturn [solar, bess, grid];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 380,
        "wires": [
            [
                "fa2485a11b5a78c9"
            ],
            [
                "e6089f8bfef6fe97"
            ],
            [
                "d8fe86d752ce3fad"
            ]
        ]
    },
    {
        "id": "38ade3e235c5293c",
        "type": "inject",
        "z": "f88d049bc127f8e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "timestamp",
        "payloadType": "str",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "826d60a7325d2500"
            ]
        ]
    },
    {
        "id": "826d60a7325d2500",
        "type": "http request",
        "z": "f88d049bc127f8e2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://thingspeak.mathworks.com/channels/3361526",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 130,
        "y": 100,
        "wires": [
            [
                "56db418236169dfb"
            ]
        ]
    },
    {
        "id": "56db418236169dfb",
        "type": "json",
        "z": "f88d049bc127f8e2",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "a5b05d422b36b530"
            ]
        ]
    },
    {
        "id": "a5b05d422b36b530",
        "type": "function",
        "z": "f88d049bc127f8e2",
        "name": "function 2",
        "func": "let feed = msg.payload.feeds[0];\n\nreturn [\n    { payload: Number(feed.field1) }, // Field 1: Solar Energy\n    { payload: Number(feed.field2) }, // Field 2: BESS\n    { payload: Number(feed.field3) }, // Field 3 : Power Grid\n    { payload: Number(feed.field4) }, // Field 4 : EMS\n    { payload: Number(feed.field5) }  // Field 5: EV Charged\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 180,
        "wires": [
            [
                "5cef72301406dd18"
            ],
            [
                "31ccc34d62cdaf36"
            ],
            [
                "daa926c20280e687"
            ],
            [
                "671fc48e9277e625"
            ],
            [
                "7cad6598dd97ee71"
            ]
        ]
    },
    {
        "id": "c45395a67b7d581e",
        "type": "ui_gauge",
        "z": "f88d049bc127f8e2",
        "name": "",
        "group": "34a3bed1af3898c1",
        "order": 1,
        "width": "9",
        "height": "5",
        "gtype": "gage",
        "title": "EMS",
        "label": "kWh",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff04"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 460,
        "wires": []
    }
]